*:focus {
    outline: 0;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(241, 241, 241);
    background-color: #1a1a1a;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

header,
main {
    width: 480px;
    margin: 20px auto;
}

header {
    height: 150px;
    display: flex;
}

header .logo.bg .logo {
    width: 100%;
    height: 100%;
    background-image: url("../res/edulogo.svg");
    background-repeat: no-repeat;
    background-size: 150%;
    background-position: center;
}

header .logo.bg{
    width: 210px;
    min-width: 210px;
    
    background: linear-gradient(127deg, rgb(8, 163, 230), rgb(0, 228, 171), rgb(8, 163, 230), rgb(0, 228, 171), rgb(8, 163, 230), rgb(0, 228, 171));
    background-size: 500% 500%;
    -webkit-animation: logo 25s cubic-bezier(.65,.05,.36,1) infinite;
    -moz-animation: logo 25s cubic-bezier(.65,.05,.36,1) infinite;
    -o-animation: logo 25s cubic-bezier(.65,.05,.36,1) infinite;
    animation: logo 25s cubic-bezier(.65,.05,.36,1) infinite;
}
    @-webkit-keyframes logo {
        0%{background-position:0% 20%}
        50%{background-position:100% 81%}
        100%{background-position:0% 20%}
    }
    @-moz-keyframes logo {
        0%{background-position:0% 20%}
        50%{background-position:100% 81%}
        100%{background-position:0% 20%}
    }
    @-o-keyframes logo {
        0%{background-position:0% 20%}
        50%{background-position:100% 81%}
        100%{background-position:0% 20%}
    }
    @keyframes logo {
        0%{background-position:0% 20%}
        50%{background-position:100% 81%}
        100%{background-position:0% 20%}
    }

header .separator {
    height: 80px;
    width: 1px;
    min-width: 1px;
    margin: auto 20px;
    background-color: rgb(114, 114, 114);
}

header .name-wrapper {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

header .name-wrapper .name {
    user-select: none;
    width: 100%;
    font-size: 180%;
    text-align: center;
}

main {
    background-color: rgba(92, 92, 92, 0.39);
    border-radius: 15px;
    overflow: hidden;
}

main .active-tab {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 29px;
    margin: 10px;
    border-radius: 7px;
    background-color: rgba(185, 185, 185, 0.192);
    transition: transform 300ms ease;
}

main .tab-selector {
    z-index: 1;
    display: flex;
    justify-content: space-around;
    color: rgb(255, 255, 255);
    user-select: none;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

main .tab-selector div {
    z-index: 2;
    text-align: center;
    width: 100%;
    padding: 15px 0;
    text-transform: uppercase;
    line-height: 20px;
}

main .tabs {
    width: 100%;
}

main .tabs .tab {
    display: none;
    flex-grow: 1;
    padding-top: 0;
}

main .tabs .tab .tab-title {
    display: none;
}

main .tabs .tab .buttons-wrapper {
    width: 100%;
    padding: 5px;
    padding-top: 0;
    margin-top: -5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

main .tabs .tab .buttons-wrapper .btn-wrapper {
    flex: 1 1 146px;
    height: 60px;
    margin: 5px;
}

main .tabs .tab .buttons-wrapper .btn-wrapper .btn {
    width: 100%;
    height: 100%;
    border-radius: 7px;
    background-color: rgba(185, 185, 185, 0.192);
}

main .tabs .tab .buttons-wrapper-fullwidth {
    width: 100%;
    padding: 5px;
    padding-top: 0;
    margin-top: -5px;
    display: flex;
    flex-direction: column;
}

main .tabs .tab .buttons-wrapper-fullwidth .btn-wrapper {
    margin: 5px;
}
main .tabs .tab .buttons-wrapper-fullwidth .btn-wrapper .btn {
    overflow: hidden;
    display: flex;
    border-radius: 7px;
    width: 100%;
    height: 100px;
    background-color: rgba(185, 185, 185, 0.192);
}

main .tabs .tab .buttons-wrapper-fullwidth .btn-wrapper .btn .image {
    flex: 1;
    height: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transition: all ease 500ms;
}

main .tabs .tab .buttons-wrapper-fullwidth .btn-wrapper:hover .image {
    flex: 2;
}

main .tabs .tab .buttons-wrapper-fullwidth .btn-wrapper:hover .text {
    letter-spacing: 1px;
}

main .tabs .tab .buttons-wrapper-fullwidth .btn-wrapper .btn .text-wrapper {
    flex: 2;
    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
}

main .tabs .tab .buttons-wrapper-fullwidth .btn-wrapper .btn .text {
    transition: all ease 500ms;
    width: 100%;
    font-size: 1.3em;
    font-weight: 700;
}

main .tabs .tab .buttons-wrapper-fullwidth a.btn-wrapper {
    text-decoration: none;
    color: white;
}

main .tabs .tab .buttons-wrapper-fullwidth a:visited.btn-wrapper {
    text-decoration: none;
    color: white;
}

@media only screen and (max-width: 480px) {
    header,
    main {
        width: 90%;
        margin: 20px auto;
    }
}

@media only screen and (max-width: 460px) {
    header .avatar {
        width: 100%;
    }

    header .separator,
    header .name-wrapper {
        display: none;
    }
}

/* Buttons */

.btn.discord {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40px;
    background-image: url("../res/discord.svg");
    background-color: #7289da !important;
}

.btn.twitter {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px;
    background-image: url("../res/twitter.svg");
    background-color: #1da1f2 !important;
}

.btn.github {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40px;
    background-image: url("../res/github.svg");
    background-color: #171516 !important;
}
.btn.twitch {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px;
    background-image: url("../res/twitch.svg");
    background-color: #9146FF !important;
}

.btn.steam-bg {
    background-image: linear-gradient(to bottom, #111d2e, #1387b8) !important;
}

.btn.steam-logo {
    background-size: 34px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../res/steam.svg");
    background-color: transparent !important;
}

.btn.reddit {
    background-size: 104px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../res/reddit.svg");
    background-color: #ff4500 !important;
}

.btn.instagram-logo {
    background-size: 35px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../res/instagram.svg");
    fill: white;
}

.btn.instagram-bg {
    background: linear-gradient(
        45deg,
        #f09433 0%,
        #e6683c 25%,
        #dc2743 50%,
        #cc2366 75%,
        #bc1888 100%
    ) !important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}

.btn.youtube {
    background-size: 45px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../res/youtube.svg");
    background-color: red !important;
}

.btn.email {
    background-size: 45px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../res/email.svg");
    background-color: rgb(46, 97, 155) !important;
}

main .tabs .tab .buttons-wrapper-fullwidth .image.mc-image-wrapper {
    background-image: linear-gradient(to bottom right, #ff8b06, #e75302);
}

main .tabs .tab .buttons-wrapper-fullwidth .image .mc-image {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: url("../res/mc.svg");
}

main .tabs .tab .buttons-wrapper-fullwidth .minecraft {
    background-image: url("../res/minecraft.svg");
    background-color: green;
    background-size: 85px !important;
}

main .tabs .tab .buttons-wrapper-fullwidth .fms {
    background-image: url("../res/fms.svg");
    background-color: #5d00a7;
    background-size: 85px !important;
}


main .tabs .tab .buttons-wrapper-fullwidth .image.deployer {
    background-image: url("../res/deployer.svg");
    background-color: white;
}

main .tabs .tab .buttons-wrapper-fullwidth .image.thissite-image-wrapper {
    background-image: linear-gradient(to bottom right, rgb(0, 228, 171), rgb(8, 163, 230) );
}

main .tabs .tab .buttons-wrapper-fullwidth .image.thissite {
    background-image: url("../res/code.svg");
}

main .tabs .tab .buttons-wrapper-fullwidth .image.max-image-wrapper {
    background-image: url('https://eduardozgz.com/max');
    background-size: cover !important;
}